.orgHeader h2 {
    font-size: x-large;
    font-weight: bold;
    text-align: center;

}

.orgCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.orgCardSingle {
   contain:content;
    margin-top: 20px;
    width: 40vw;
    text-align: center;
    border-color: black;
    border-radius: 10px;
    height: 12vw;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 4px 7px;
    padding: 15px;

}

.orgDescription {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

}

.orgCardHeader {
    font-weight: bolder;
    margin-bottom: 2px;
    font-size: x-large;

}

.orgAddress {
    margin-top: 5px;

}

.orgLink {
    color: blue;

}

@media screen and (min-width: 2000px){
    .orgCardSingle {
        height: 10vw;
    }
}

@media screen and (max-width: 1750px) {
    .orgDescription {
        -webkit-line-clamp: 3;
    }
}


@media screen and (max-width: 1500px) {
    .orgDescription {
        -webkit-line-clamp: 2;

    }

    .orgCardSingle {
        height: 15vw;

    }
}

@media screen and (max-width: 1300px) {
    .orgCards {
        flex-direction: column;

    }

    .orgCardSingle {
        height: 18vw;
        width: 70vw;
        padding: 6px;

    }

    .orgCardHeader {
        font-size: medium;

    }

    .orgCardSingle p {
        font-size: small;

    }

    .orgDescription {
        -webkit-line-clamp: 2;

    }

    .orgAddress {
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

    }
}

@media screen and (max-width: 800px) {
    .orgCardSingle {
        height: 30vw;
        
    }
}
